
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 460px;
    width: 100%;
    background: #FFFFFF;
    padding: 9px 20px 34px 20px;





    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        text-decoration-line: underline;
        color: #D58C51;
        align-self: flex-end;
    }

    &__header {
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 38px;
        color: #161516;
        margin-top: 13px;
        margin-bottom: 36px;
    }

    &__fieldset {
        border: 0;
        padding: 0;
        margin-bottom: 15px;
    }

    &__input {
        border: 1px solid #D58C51;
        border-radius: 61px;
        width: 100%;
        height: 39px;
        padding: 10px 18px;
        box-sizing: border-box;
        

        &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
           
            color: #161516;

        }


    }




    &__chek {
        border: 1px solid #D58C51;


    }

    &__check-wrap {
        text-align: left;
    }

    &__check-text {
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
    }

    &__btn-wrap {
        max-width: 200px;
        margin-top: 15px;
        align-self: center;
        width: 100%;


    }


}