
.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./backgr.jpg);
    background-size:cover ;
    height: 100vh;
    width: 100%;
}