.product-list-page {
    width: 100%;
    height: 100%;
}

.product-list {
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 35px;
        padding: 70px;



    }

    &-item {
        flex: 1 1 auto;
        width: calc(25% - 60px / 3);

    }



}

.header {
    display: flex;
    padding: 50px 70px 0px;

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 38px;
        text-transform: uppercase;
        color: #FFFFFF;

    }

    &__cart-block {
        display: flex;
        gap: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        text-align: right;
        color: #FFFFFF;
        margin-left: auto;
    }
}

.btnExit {
    max-width: 200px;
    width: 100%;
    margin-left: 22px;
}